@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

#logo {
    display: flex;
    position: relative;
    margin: 128px auto 0;
    flex-flow: row;
    align-content: center;
}

h1, h2, h3, h4, h5, h6, p, a, label {
    font-family: 'Ubuntu', sans-serif;
}

.white {
    color: white;
}

.accented-button {
    background-color: #ac27f4;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    padding: 8px 16px;
    border: none;
    border-radius: 2px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.button-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-flow: row;
    padding: 16px 0;
}

#preview-back {
    cursor: pointer;
}

img{
  max-width:600px;
  max-height:600px;
}
